.DS_Store
.cache
.vscode
web_modules
node_modules

.env

wishlist
orders
wishlist.js
token.js
signup.js
search.js
script.js
ProductsPage.js
orders.js
modal.js
loginSignup.js
auth.js
account.js
account
auth
household1.jpg
personal1.jpeg
food1.jpeg
food.jpg
eco1.jpeg
log.PNG
logo.PNG
logo1.jpg
logo2.PNG
